*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.loading-screen{
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    background-color: rgb(24, 21, 21);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 20000;
}
.loader{
    min-width: 60px;
    min-height:60px;
    border: 15px solid rgba(36, 32, 32, 0.979);
    border-top: 15px solid rgb(5, 213, 228);
    border-radius: 150px;
    animation: loading 1s infinite;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.loading-screen.hidden{
    animation: loader-hide 1s forwards;
   
}
@keyframes loader-hide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
    
   
}


.home-page-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    top: 0;
    min-height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.829),rgba(1, 58, 58, 0.5)),url('images/obrazok1.jpg');
        background-attachment: fixed;

}


.navbar{
  position: fixed;
    display: flex;
    width: 90%;
    height: 80px;
    
    left: 0;
    top: 0;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.11);
    justify-content: center;
    padding: 0px 10px;
    align-items: center;
    border-bottom: 3px solid rgba(9, 199, 199, 0.205);
    z-index: 1000;
}

.navbar.background{
  animation: blacken 0.5s forwards;
}

@keyframes blacken {
  from{
    height: 0;
    width: 0;
    transform: translateX(50%);
    background-color: rgba(255, 255, 255, 0.555);
  }
  to{
    background-color: rgb(36, 32, 32);
    position: fixed;
     height: 80px;
     transform: translateX(0%);
     border-bottom: 5px solid rgba(0, 255, 255, 0.308);
     width: 100%;
     border-radius: 0;
    }
  
}
.navbar.transparent{
  animation: relate 0.3s forwards, whiten 0.3s ease;
  
}

@keyframes whiten {
  0%{
    background-color: rgb(36, 32, 32);
    height: 80px;
  }
  90%{
    background-color: rgba(255, 255, 255, 0.11);
     height: 0;
    }
    
}
@keyframes relate {
  0%{position: fixed;
    width: 100%;}
  90%{position: fixed;
    width: 100%;}
  100%{
    position: static;
    width: 90%;
  }
}


.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5vw;
    width: 100%;
    margin: 0px 20px;
    max-width: 1920px;
    font-size: 100%;
    color: rgb(9, 199, 199);

}

.navbar-container ul{
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    align-items: center;
    
}

.navbar-container .underline{   
    margin: 0px 15px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
}

.navbar-container .underline a{
    text-decoration: none;
    color: white;
}

.navbar-container .underline::after{
    content: '';
    position: relative;
    display: inline-block;
    height: 3px;
    width: 100%;
    left: 0;
    background:rgb(9, 199, 199);   
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 1s ease;
    
}


.navbar-container .underline:hover::after{   
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-opener{
    display: none;
}

.menu-btn{
    visibility: visible;
    width: 30px;
    cursor: pointer;
    
  }
  
  .menu-btn-line {
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: rgb(9, 199, 199);
    transition: transform 0.3s ease;
  }
  

  .menu-btn.open .line-1 {
    transform: translateY(4px) translateX(-2px) rotate(70deg);
   
  }
  
  .menu-btn.open .line-2 {
    opacity: 0;
  }
  
  .menu-btn.open .line-3 {
    transform: translateY(-8px) translateX(8px) rotate(-70deg);
   
  }

  .underline.btn{
    font-size: 80%;
    
  }
  .underline.btn a{
    text-decoration: none;
    color: white;
    
  }

  #slide-bar{
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 25px;
    width: 80%;
    transform: translateY(-1000px);
    border-bottom: 3px solid rgba(9, 199, 199, 0.281);
  }

  #slide-bar li{
    padding: 15px;
  }

  #slide-bar{
    display: flex;
    justify-content: center;
    align-items: center ;
  }

  #slide-bar.active{
    
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .aboutus-main-container{
    flex-direction: row;
   width: 100%;
   margin: 0;
   padding: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

  @media screen and (max-width: 1200px) {
    .navbar ul{
    position: absolute;
     top: -1000px;
   }    
   .menu-opener{
    display: flex;
}



#slide-bar.slide-bar-background{
  position: fixed;
  background-color: rgb(36, 32, 32);
  z-index: 100;
  width: 100%;
  border-radius: 0;
  border-bottom: 3px solid rgb(9, 199, 199);
  
}

#slide-bar.active.slide-bar-background{
  margin-top: 85px;
  

}

}
@keyframes slideIn {
    from { transform: translate(0%, -100%); } /* Start from top */
    to { transform: translate(0%, -2%); }
  }
  
  @keyframes slideOut {
    from { transform: translate(0%, -2%); } /* Start from original position */
    to { transform: translate(0%, -100%); }
    
  }



.home-page-text{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: white;
    
}


.home-page-text h1{
    border-top: 3px solid rgb(9, 199, 199);
    padding: 15px;
    font-size: 300%;
    border-bottom: 3px solid rgb(9, 199, 199);
}

.home-page-text p{
    margin-top: 15px;
    font-size: 125%;
}

.home-page-text .contact-us-button{
    margin-top: 25px;
    padding: 15px;
    border: 3px solid rgb(9, 199, 199);
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
   
    
}

.home-page-text .contact-us-button:not(:hover){   
    animation: normalise 1s forwards;
}

.home-page-text .contact-us-button:hover{   
    animation: expand 1s forwards;
}

@keyframes expand{
    from{width: 150px;
      transform: translateY(0px);
    }
    to{
        background-color: rgba(9, 199, 199, 0.377);
        width: 300px;
        transform: translateY(15px);
    }
}

@keyframes normalise{
    from{width: 300px;
    background-color: rgba(9, 199, 199, 0.377);
    transform: translateY(15px);
    }
    to{
        background-color: rgba(9, 199, 199, 0);
        width: 150px;
        transform: translateY(0px);
    }
}





.aboutus-container.left{
    display: flex;
    width: 40%;
    min-height: 100%;
    padding: 50px;
    max-width: 960px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 5;
    border-top: 5px solid rgb(9, 199, 199);
    border-radius: 25px;
}

.aboutus-container.left:hover{
    animation: border-resize 0.5s forwards;
}

@keyframes border-resize {
    from{
        width: 40%;
    }
    to{
        width: 42%;
        margin-left: 5%;
       
    }
}

.aboutus-container.left:not(:hover){
    animation: border-resize-not 0.5s forwards;
}

@keyframes border-resize-not{
    from{
        width: 42%;
        margin-left: 5%;
    }
    to{
        width: 40%;
        
    }
}

.aboutus-container.right{
  padding: 50px; 
  border-radius: 25px;
  width: 30%;
  max-width: 960px;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  border-bottom: 5px solid rgb(9, 199, 199);
  
  
}

.aboutus-container.right:hover{
    animation: border-resize2 0.5s forwards;
}

@keyframes border-resize2 {
    from{
        width: 40%;
    }
    to{
        width: 42%;
    }
}

.aboutus-container.right:not(:hover){
    animation: border-resize2-not 0.5s forwards;
}

@keyframes border-resize2-not {
    from{
        width: 42%;
    }
    to{
        width: 40%;
    }
}





.image2{
    box-shadow: 0px 5px 15px rgb(121, 117, 117); 
    border-radius: 5px;
     max-width: 30%;
      position: absolute; 
      right: 0; 
      bottom: 0px;
      background-color: white;
}

@media screen and (max-width: 1200px) {

  .aboutus-main-container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1920px;
     
}

.aboutus-container.left{
    min-width: 100%;
    padding: 0;
    padding-top: 15px;
}
.aboutus-container.right{
    min-width: 100%;
    padding: 15px;
    margin-top: 50px;
    color: black;
   


    
}
.image2{
    bottom: -50px;
    right: 15px;
}
.aboutus-container.right:not(:hover){
    width: 100%;
}

.aboutus-container.left:hover{
  width: 100%;
}

.aboutus-container.left:not(:hover){
  width: 100%;
}


.aboutus-container.right:hover{
  width: 100%;
}


}

.services-main-container{
    margin-top: 50px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('images/services-background.jpg');
}

.services-main-container h1{
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(9, 199, 199);
}





/*////////////////////////////////////////////////////////////////////////*/


.services-text-p{
    text-align: center; 
    font-size: 105%;
    
  }
  
  .headline{
    font-size: 135%;
    font-weight: bolder;
    color: rgb(9, 199, 199);
  }
  
  .services-content{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .services-content-box{
    color: white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    border-bottom: 4px solid rgb(9, 199, 199);
    max-width: 500px;
    
    width: 40%;
    margin: 0px 5px;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
  .services-content-box:hover{
    animation: slightly-up 1s forwards;
  }
  .services-content-box:not(:hover){
    animation: slightly-down 1s forwards;
  }
  
  .services-background{
    width: 1000px;
    height: 1000px;
    background-color: black;
  }
  
  @keyframes slightly-up {
    from { transform: translate(0%, 0%); } 
    to { transform: translate(0%, -5%); }
  }
  
  
  @keyframes slightly-down {
    from { transform: translate(0%, -5%); } 
    to { transform: translate(0%, 0%); }
  }
  
  
  .services-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 300px;
    
  }
  .image-container {
    position: relative;
    width: 30%; /* You can set a fixed width if needed, e.g., 300px */
    padding-top: 30%; /* This creates a square container */
    border-radius: 300px;
  
  }
  
  
  
  .example-image{
    margin: 5vh 5vw;
    border: 3px solid white ;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 1000px) {
    .services-content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .services-content-box{
      width: 60%;
    }
    .about-us-pictures-container{
      flex-direction: column;
    }
    .aboutus-image-container{
      margin-bottom: 50px;
    }
  }
  

  /*contact section*/

  
.prices-section{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
    max-width: 100%;
    background-color: rgb(34, 34, 34);
    
  }
  
 

  @keyframes showoff {
    from{background-color: rgba(34, 34, 34, 0.637);}
    to{background-color: rgb(34, 34, 34);}
  }


  .tepovanie-section{
    display: flex;
    background: linear-gradient(to right, #d8d8d815, #0a3f5e21);
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
    border-radius: 25px;
    border-bottom: 3px solid rgba(9, 199, 199, 0.363);
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateX(0%);
  }
  .tepovanie-section.slide-from-right{
    animation: slid 1s forwards;
  }

@keyframes slid {
  from{transform: translateX(-50%);}
  to{transform: translateX(0%);}
}

  .tepovanie-section p::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background: #1bc6c9;
    margin: 10px auto;
    border-radius: 2px;
}
  
  .item {
  
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 105% ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    margin: 10px 10px;
    padding: 30px 20px;
    cursor: pointer;
  }
  .item::before {
    
    content: '';
    position: absolute;
    width: 0;
    height: 80%;
    left: 0;
    border-radius: 15px;
    border: 2px solid rgb(9, 199, 199);
    transition: width 1s ease;
  }

  .item.active::before{
    width: 100%;
    height: 100%;
  }
  
  .item:hover{
    animation: slightly-up 1s forwards;
  }
  .item:not(:hover){
    
    animation: slightly-down 1s forwards;
  }
  
  #c-button{
    transform: translateX(-3050%);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(9, 199, 199);
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    width: 50%;
    max-width: 600px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #c-button.show{
    animation: cshow 1s forwards;
  }
  
  #c-button.show:hover{
    animation: cshow 1s forwards, hover-effect 0.5s forwards;
  }
  #c-button.show:not(:hover){
    animation: cshow 1s forwards, unhover-effect 0.5s forwards;
  }
  
  
  
  @keyframes cshow {
    from{ transform: translateX(-250%);}
    to{transform: translateX(0%);}
  }
  
  @keyframes hover-effect {
    from{
        background-color: rgba(9, 199, 199, 0);
    }
    to{
        background-color: rgba(9, 199, 199, 0.479);
    }
  }

  @keyframes unhover-effect {
    from{
        background-color: rgba(9, 199, 199, 0.479);
    }
    to{
        background-color: rgba(9, 199, 199, 0);
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .tepovanie-section{
      flex-direction: column;
    }
    .about-us-section{
      flex-direction: column;
    }
  }
  
.show-work{
    width: 100%;
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.show-work p{
    margin: 20px;
    font-size: 125%;
}
#our-work-button{
    padding: 5px;
    border: 2px solid white;
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: white;
   
}

#our-work-button:hover{
    animation: exp2 1s forwards;
}

#our-work-button:not(:hover){
    animation: nor2 1s forwards;
}

@keyframes exp2{
  from{
    width: 150px;
  }
  to{
    width: 250px;
  }
}

@keyframes nor2{
  from{
    width: 250px;
  }
  to{
    width: 150px;
  }
}



@keyframes our-work-show {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 28, 28);
}

.form-section, .info-section {
    margin: 0 10px;
}

.info-section{
    margin-bottom: 100px;
}
.form-section {
    padding: 20px;
}
.form-section input, .form-section textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #ffffff1a;
    color: rgb(175, 175, 175);
}
.form-section textarea {
    height: 100px;
    resize: none;
}
.form-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: rgb(175, 175, 175);
    cursor: pointer;
}
.info-section h2 {
    margin-bottom: 20px;
    color: rgb(175, 175, 175);
}
.info-section p {
    margin: 5px 0;
    color: rgb(175, 175, 175);
}
.info-section a {
    color: rgb(175, 175, 175);
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .contact-container{
        flex-direction: column;
    }
}
.load{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.load.show {
    opacity: 1;
    transform: translateY(0);
}

