*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.home-page-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    min-height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),url('images/obrazok1.jpg');
}


.navbar{
    position: flex;
    display: flex;
    width: 90%;
    height: 80px;
    max-width: 1920px;
    left: 0;
    top: 0;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.062);
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(9, 199, 199, 0.205);
}


.navbar-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0% 5vw;
    width: 100%;
    margin: 0px 20px;
    max-width: 1920px;
    font-size: 100%;
    color: rgb(9, 199, 199);

}

.navbar-container ul{
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    
}

.navbar-container .underline{   
    margin: 0px 15px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
}

.navbar-container .underline a{
    text-decoration: none;
    color: white;
}

.navbar-container .underline::after{
    content: '';
    position: relative;
    display: inline-block;
    height: 2px;
    width: 100%;
    left: 0;
    background:rgb(9, 199, 199);   
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 1s ease;
    
}


.navbar-container .underline:hover::after{   
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-opener{
    display: none;
}

.menu-btn{
    visibility: visible;
    width: 30px;
    cursor: pointer;
    
  }
  
  .menu-btn-line {
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: rgb(9, 199, 199);
    transition: transform 0.3s ease;
  }
  

  .menu-btn.open .line-1 {
    transform: translateY(4px) translateX(-2px) rotate(70deg);
   
  }
  
  .menu-btn.open .line-2 {
    opacity: 0;
  }
  
  .menu-btn.open .line-3 {
    transform: translateY(-8px) translateX(8px) rotate(-70deg);
   
  }

  .underline.btn{
    font-size: 80%;
    
  }
  .underline.btn a{
    text-decoration: none;
    color: white;
    
  }

  #slide-bar{
    display: none;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 25px;
    width: 90%;
    border-bottom: 3px solid rgba(9, 199, 199, 0.281);
  }

  #slide-bar li{
    padding: 15px;
  }

  #slide-bar.active{
    display: flex;
    
  }

  @media screen and (max-width: 1200px) {
    .navbar ul{
    position: absolute;
     top: -1000px;
   }    
   .menu-opener{
    display: flex;
}
.aboutus-main-container{
    flex-direction: column;
}
}
@keyframes slideIn {
    from { transform: translate(0%, -50%); } /* Start from top */
    to { transform: translate(0%, 0%); }
  }
  
  @keyframes slideOut {
    from { transform: translate(0%, -500%); } /* Start from original position */
    to { transform: translate(0%, -100%); }
    
  }



.home-page-text{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 150px;
    margin-bottom: 50px;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: white;
    
}


.home-page-text.moveUp{
    margin-top: 5vh;
}

.home-page-text h1{
    border-top: 1px solid rgb(9, 199, 199);
    padding: 15px;
    font-size: 300%;
    border-bottom: 1px solid rgb(9, 199, 199);
}

.home-page-text p{
    margin-top: 15px;
    font-size: 125%;
}

.home-page-text .contact-us-button{
    margin-top: 25px;
    padding: 15px;
    border: 1px solid rgb(9, 199, 199);
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
   
    
}

.home-page-text .contact-us-button:not(:hover){   
    animation: normalise 1s forwards;
}

.home-page-text .contact-us-button:hover{   
    animation: expand 1s forwards;
}

@keyframes expand{
    from{width: 150px;}
    to{
        background-color: rgba(9, 199, 199, 0.377);
        width: 300px;
    }
}

@keyframes normalise{
    from{width: 300px;
    background-color: rgba(9, 199, 199, 0.377);
    }
    to{
        background-color: rgba(9, 199, 199, 0);
        width: 150px;
    }
}

.aboutus-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1920px;
   
     
}

.aboutus-container.left{
    display: flex;
    width: 40%;
    min-height: 100%;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    z-index: 5;
}

.aboutus-container.right{
    padding: 50px;
    box-shadow: 0px 10px 10px 0px rgb(121, 119, 119);
    border-radius: 25px;
    left: -15px;
    width: 30%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    
    
}

.image2{
    box-shadow: 0px 5px 15px rgb(121, 117, 117); 
    border-radius: 5px;
     max-width: 30%;
      position: absolute; 
      right: 0; 
      bottom: 0px;
      background-color: white;
}

@media screen and (max-width: 1200px) {

.aboutus-main-container{
    flex-direction: column;
}
.aboutus-container.left{
    width: 100%;
    padding: 0;
    padding-top: 15px;
    margin-right: 10px;
    height: calc(100% + 50px);
}
.aboutus-container.right{
    width: calc(100% - 60px);
    padding: 30px;
    margin: 10px;
    margin-top: 50px;
   

}
.image2{
    bottom: -50px;
    right: 15px;
}
}

.services-main-container{
    margin-top: 50px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/services-background.jpg');
}

.services-main-container h1{
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(9, 199, 199);
}





/*////////////////////////////////////////////////////////////////////////*/


.services-text-p{
    text-align: center; 
    font-size: 105%;
  }
  
  .headline{
    font-size: 135%;
    font-weight: bolder;
  }
  
  .services-content{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .services-content-box{
    color: white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    border-bottom: 4px solid rgb(9, 199, 199);
    max-width: 500px;
    max-height: 300px;
    width: 40%;
    margin: 0px 5px;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
  .services-content-box:hover{
    animation: slightly-up 1s forwards;
  }
  .services-content-box:not(:hover){
    animation: slightly-down 1s forwards;
  }
  
  .services-background{
    width: 1000px;
    height: 1000px;
    background-color: black;
  }
  
  @keyframes slightly-up {
    from { transform: translate(0%, 0%); } 
    to { transform: translate(0%, -5%); }
  }
  
  
  @keyframes slightly-down {
    from { transform: translate(0%, -5%); } 
    to { transform: translate(0%, 0%); }
  }
  
  
  .services-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 300px;
    
  }
  .image-container {
    position: relative;
    width: 30%; /* You can set a fixed width if needed, e.g., 300px */
    padding-top: 30%; /* This creates a square container */
    border-radius: 300px;
  
  }
  
  
  
  .example-image{
    margin: 5vh 5vw;
    border: 3px solid white ;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 1000px) {
    .services-content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .services-content-box{
      width: 60%;
    }
    .about-us-pictures-container{
      flex-direction: column;
    }
    .aboutus-image-container{
      margin-bottom: 50px;
    }
  }
  

  /*contact section*/

  
.prices-section{
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
  
    background-color: rgba(33, 37, 41, 0.945);
  }
  
  .tepovanie-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 25px;
    border-bottom: 3px solid rgba(9, 199, 199, 0.363);
    margin-top: 50px;
  }
  
  .item {
    border-radius: 15px;
    border: 1px solid rgb(9, 199, 199);
    color: rgb(255, 255, 255);
    font-size: 105% ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    margin: 10px 10px;
    padding: 20px 10px;
    cursor: pointer;
  }
  
  .item.active{
    background-color: rgba(9, 199, 199, 0.432);;
  }
  
  .item:hover{
    animation: slightly-up 1s forwards;
  }
  .item:not(:hover){
    
    animation: slightly-down 1s forwards;
  }
  
  #c-button{
    transform: translateX(-3050%);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(9, 199, 199);;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    max-width: 400px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #c-button.show{
    animation: cshow 1s forwards;
  }
  
  #c-button.show:hover{
    animation: cshow 1s forwards, hover-effect 0.5s forwards;
  }
  #c-button.show:not(:hover){
    animation: cshow 1s forwards, unhover-effect 0.5s forwards;
  }
  
  
  
  @keyframes cshow {
    from{ transform: translateX(-250%);}
    to{transform: translateX(0%);}
  }
  
  @keyframes hover-effect {
    from{
        background-color: rgba(9, 199, 199, 0);
    }
    to{
        background-color: rgba(9, 199, 199, 0.479);
    }
  }

  @keyframes unhover-effect {
    from{
        background-color: rgba(9, 199, 199, 0.479);
    }
    to{
        background-color: rgba(9, 199, 199, 0);
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .tepovanie-section{
      flex-direction: column;
    }
    .about-us-section{
      flex-direction: column;
    }
  }
  
  .our-work-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;  
    flex-direction: column;
    
  }

  .picture-slider-container{
    border: 1px solid white;
    width: 80%;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.116);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picture-slider{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    overflow: hidden;
    
  }
  
  #picture-slider img{
    border-radius: 25px;
    min-width: 100%;
    transition: transform 0.5s ease;
  }


.slider-button {
    color: white;
    cursor: pointer;
    padding: 15px;
    background-color: #cccccc0a;
    border: 1px solid #ffffff;
    margin: 0 0px;
}

.slider-button:hover {
    background-color: #bbb;
}
